---
import Layout from "../layouts/Layout.astro";
// import Hero from "../components/Hero.astro";
import Hero from "../components/Hero.jsx";
import Encabezados from "../components/Encabezados.astro";
import ParrafosLibres from "../components/ParrafosLibres.astro";
import Cartas from "../components/Cartas.astro";
import Frase from "../components/Frase.astro";
import BloqueMapa from "../components/BloqueMapa.astro";
import Regalos from "../components/Regalos.astro";
import Contador from "../components/Contador.astro";
import Confirmacion from "../components/Confirmacion";
import Footer from "../components/Footer.astro";
import Galeria from "../components/Galeria.astro";
import Itinerario from "../components/Itinerario.astro";
import BloqueVenta from "../components/BloqueVenta.astro";

//Bloqueventas.astro
const costo = 1490;

// datos del evento
const novios = "Ana Montaño Hernandez y Pedro Gómez Rulfo ";
const fecha = "sábado 23 de noviembre del 2024";
const fechaContador = "2024-11-23";
const vestimenta = "formal";
const whatsapp = 5219552630000;
const frase_amor =
  "Te encontré sin siquiera buscarte, pero eres la casualidad más bonita que tengo en vida";
// Mapa recepcion y ceremonia
const horarioRecepcion = "18:30";
const dirRecepcion =
  "<b>Centro de convenciones </b>, Blvd. Paseo Ixtapa S/N-A, 40884 Zihuatanejo, Gro Blvd. Paseo Ixtapa S/N-A, 40884 Zihuatanejo, Gro.";
const latRecepcion = 17.661152;
const lngRecepcion = -101.603728;
const horarioCeremonia = "16:30";
const dirCeremonia =
  "<b>Templo de la Concepción</b>, Calle Paseo de los Pelicanos 40883, Ixtapa Gro. (frente a la Moraleja)";
const latCeremonia = 17.665128;
const lngCeremonia = -101.597448;
//itinerario
const iterario = [
  {
    titulo: "Ceremonia Religiosa",
    lugar: "Templo de la Concepción, Morelia Mich.",
    hora: "16:30",
  },
  {
    titulo: "Recepción",
    lugar: "Centro de convenciones, Morelia Mich.",
    hora: "18:30",
  },
  {
    titulo: "Mariachi en vivo",
    lugar: "Centro de convenciones, Morelia Mich.",
    hora: "20:00",
  },
  {
    titulo: "Baile de los novios",
    lugar: "Centro de convenciones, Morelia Mich.",
    hora: "22:30",
  },
  {
    titulo: "Cena y Brindis",
    lugar: "Centro de convenciones, Morelia Mich.",
    hora: "23:00",
  },
  {
    titulo: "Cierre del evento",
    lugar: "Centro de convenciones, Morelia Mich.",
    hora: "3:00",
  },
];
// regalos
const beneficiario = "Ana Montaño Hernandez";
const banco = "Banco HSBC";
const cuenta = "123456789";
// open graph
const base = import.meta.env.BASE_URL

---

<Layout title=`Invitación de boda de ${novios}` url={base}>
  <Hero nombres={novios} fecha={fecha} client:load />
  <Encabezados icono=`${base}/evento-icono.svg` texto="NUESTRA BODA" />
  <ParrafosLibres>
    Daremos el “sí quiero”, seguiremos este emocionante viaje juntos y nos
    encantaría que nos acompañes a celebrar la gran fiesta de nuestra boda.
  </ParrafosLibres>
  <section class="grid contenido">
    <div class="conte-cartas">
      <Cartas icono=`${base}/fecha-icono.svg` titulo="Fecha de nuestra boda">
        <p>{fecha}</p>
      </Cartas>
      <Cartas icono=`${base}/detalles-icono.svg` titulo="Consideraciones">
        <ul>
          <li>Favor de no vestir de blanco</li>
          <li>Favor de asistir sin niños menores de 12 años</li>
        </ul>
      </Cartas>
      <Cartas icono=`${base}/formal-icono.svg` titulo="Código de vestimenta">
        <p>{vestimenta}</p>
      </Cartas>
    </div>
  </section>

  <section class="grid contenido">
    <Frase frase={frase_amor} />
  </section>

  <Encabezados icono=`${base}/lugar-icono.svg` texto="EL LUGAR" />
  <section class="grid contenido fondo-mitad">
    <ParrafosLibres>
      Te compartimos la ubicación, te esperamos en la ceremonia religiosa y en
      la recepción de nuestra boda
    </ParrafosLibres>
    <div id="zigzag">
      <BloqueMapa
        encabezado="Ceremonia"
        dir={dirCeremonia}
        horario={horarioCeremonia}
        lat={latCeremonia}
        lng={lngCeremonia}
        mapName="mapa1"
      />
      <BloqueMapa
        encabezado="Recepción"
        dir={dirRecepcion}
        horario={horarioRecepcion}
        lat={latRecepcion}
        lng={lngRecepcion}
        mapName="mapa2"
      />
    </div>
  </section>

  <Encabezados icono=`${base}/lugar-icono.svg` texto="ITINERARIO" />
  <Itinerario listado={iterario} />

  <section class="grid contenido">
    <Regalos
      frase="El regalo más importante será tu presencia, te agradecemos si aparte nos deseas hacer un regalo en este día tan especial."
      beneficiario={beneficiario}
      banco={banco}
      cuenta={cuenta}
    />
  </section>

  <section class="grid contenido">
    <Contador fecha={fechaContador} />
  </section>

  <section>
    <Confirmacion whatsapp={whatsapp} dias_antes={7} client:only />
  </section>
  <!-- galeria -->
  <section class="grid pantalla">
    <Galeria />
  </section>

  <!-- footer -->
  <section class="grid contenido">
    <Footer />
  </section>

  <!-- Borrar el bloque de ventas -->
  <BloqueVenta costo={costo} />
</Layout>
<script>
  import Lenis from "@studio-freight/lenis";
  const lenis = new Lenis();
  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
