---
import Layout from "../layouts/Layout.astro";
// import Hero from "../components/Hero.astro";
import Hero from "../components/Hero.jsx";
import Encabezados from "../components/Encabezados.astro";
import ParrafosLibres from "../components/ParrafosLibres.astro";
import Cartas from "../components/Cartas.astro";
import Frase from "../components/Frase.astro";
import BloqueMapa from "../components/BloqueMapa.astro";
import Regalos from "../components/Regalos.astro";
import Contador from "../components/Contador.astro";
import Confirmacion from "../components/Confirmacion";
import Footer from "../components/Footer.astro";
import Galeria from "../components/Galeria.astro";
import Itinerario from "../components/Itinerario.astro";
import BloqueVenta from "../components/BloqueVenta.astro";

// datos del json
const invitados = "Familia Hernández";
const pases = 4;
// datos del evento
const novios = "Delia y Oliver ";
const fecha = "sábado 27 de abril del 2024";
const fechaContador = "2024-04-27";
const vestimenta = "formal";
const whatsapp = 5217551048550;
const frase_amor = "De vez en cuando, justo en medio de una vida ordinaria, el amor nos regala un cuento de hadas."
// Mapa recepcion y ceremonia
const horarioRecepcion = "18:30";
const dirRecepcion =
  "<b>Hotel SunScape Ixtapa </b>, Blvd. Paseo Ixtapa S/N-A, 40884 Zihuatanejo, Gro.";
const latRecepcion = 17.661152;
const lngRecepcion = -101.603728;
const horarioCeremonia = "16:30";
const dirCeremonia =
  "<b>Iglesia de la Santa Cruz</b>, Calle Paseo de los Pelicanos 40883, Ixtapa Gro. (frente a la Moraleja)";
const latCeremonia = 17.665128;
const lngCeremonia = -101.597448;
//itinerario
const iterario= [
  {
    titulo: "Ceremonia Religiosa",
    lugar: "Iglesa de la Santa Cruz, Ixtapa Gro.",
    hora: "16:30"
  },
  {
    titulo: "Recepción",
    lugar: "Salón de eventos Hotel SunScape Ixtapa",
    hora: "18:30"
  },
  {
    titulo: "Mariachi en vivo",
    lugar: "Salón de eventos Hotel SunScape Ixtapa",
    hora: "20:00"
  },
  {
    titulo: "Baile de los novios",
    lugar: "Salón de eventos Hotel SunScape Ixtapa",
    hora: "22:30"
  },
  {
    titulo: "Cena y Brindis",
    lugar: "Salón de eventos Hotel SunScape Ixtapa",
    hora: "23:00"
  },
  {
    titulo: "Cierre del evento",
    lugar: "Salón de eventos Hotel SunScape Ixtapa",
    hora: "3:00"
  }
  

]
// regalos
const beneficiario = "Delia Ramirez";
const banco = "Banco Santander";
const cuenta = "123456789";
// open graph
const url = "https://nvite.me/boda-delia-y-oliver";
---

<Layout title=`Invitación de boda de ${novios}` url={url}>
  <Hero nombres={novios} fecha={fecha} client:load />
  <Encabezados icono="/evento-icono.svg" texto="NUESTRA BODA" />
  <ParrafosLibres>
    Daremos el “sí quiero”, seguiremos este emocionante viaje juntos y nos encantaría que nos acompañes a celebrar la gran fiesta de nuestra boda.
  </ParrafosLibres>
  <section class="grid contenido">
    <div class="conte-cartas">
      <Cartas icono="/fecha-icono.svg" titulo="Fecha de nuestra boda">
        <p>{fecha}</p>
      </Cartas>
      <Cartas icono="/detalles-icono.svg" titulo="Detalles">
        <ul>
          <li>Favor de no vestir de blanco</li>
          <li>Favor de asistir sin niños menores de 12 años</li>
        </ul>
      </Cartas>
      <Cartas icono="/formal-icono.svg" titulo="Código de vestimenta">
        <p>{vestimenta}</p>
      </Cartas>
    </div>
  </section>

  <section class="grid contenido">
    <Frase
      frase={frase_amor}
    />
  </section>

  <Encabezados icono="/lugar-icono.svg" texto="EL LUGAR" />
  <section class="grid contenido fondo-mitad">
    <ParrafosLibres>
      Te compartimos la ubicación, te esperamos en la ceremonia religiosa y en
      la recepción de nuestra boda
    </ParrafosLibres>
    <div id="zigzag">
      <BloqueMapa
        encabezado="Ceremonia"
        dir={dirCeremonia}
        horario={horarioCeremonia}
        lat={latCeremonia}
        lng={lngCeremonia}
        mapName="mapa1"
      />
      <BloqueMapa
        encabezado="Recepción"
        dir={dirRecepcion}
        horario={horarioRecepcion}
        lat={latRecepcion}
        lng={lngRecepcion}
        mapName="mapa2"
      />
    </div>
  </section>

  <Encabezados icono="/lugar-icono.svg" texto="ITINERARIO" />
    <Itinerario listado={iterario} />


  <section class="grid contenido">
    <Regalos
      frase="El regalo más importante será tu presencia, te agradecemos si aparte nos deseas hacer un regalo en este día tan especial."
      beneficiario={beneficiario}
      banco={banco}
      cuenta={cuenta}
    />
  </section>

  <section class="grid contenido">
    <Contador fecha={fechaContador} />
  </section>

  <section>
    <Confirmacion whatsapp={whatsapp} dias_antes={7} client:only />
  </section>
  <!-- galeria -->
  <section class="grid pantalla">
    <Galeria />
  </section>

  <!-- footer -->
  <section class="grid contenido">
    <Footer />
  </section>

  <!-- Borrar el bloque de ventas -->
  <BloqueVenta costo={1600} />
</Layout>
<script>
  import Lenis from "@studio-freight/lenis";
  const lenis = new Lenis();
  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
