---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Encabezados from "../components/Encabezados.astro";
import ParrafosLibres from "../components/ParrafosLibres.astro";
import Cartas from "../components/Cartas.astro";
import Frase from "../components/Frase.astro";
import BloqueMapa from "../components/BloqueMapa.astro";	
import Regalos from "../components/Regalos.astro";
import Contador from "../components/Contador.astro";

const novios = "Delia y Olive";
const fecha = "sábado 23 de marzo del 2024";
const fechaContador = '2024-03-23';
const invitados = "Estimada familia Hernandez";
const pases = 4;
const vestimenta = "formal";

---

<Layout title="Invitación de boda.">
  <Hero
    cover={"/cover.jpg"}
    nombres={novios}
    fecha={fecha}
    invitados={invitados}
    pases={pases}
  />
  <Encabezados icono="/evento-icono.svg" texto="EL EVENTO" />
  <ParrafosLibres>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eligendi
    fugiat voluptas sint, mollitia consequuntur. Assumenda eaque excepturi
    mollitia doloremque laborum debitis earum!
  </ParrafosLibres>
  <section class="grid contenido">
    <div class="conte-cartas">
      <Cartas icono="/fecha-icono.svg" titulo="Fecha de nuestra boda">
        <p>{fecha}</p>
      </Cartas>
      <Cartas icono="/detalles-icono.svg" titulo="Detalles">
        <ul>
          <li>Favor de no vestir de blanco</li>
          <li>Favor de asistir sin niños menores de 12 años</li>
        </ul>
      </Cartas>
      <Cartas icono="/formal-icono.svg" titulo="Código de vestimenta">
        <p>{vestimenta}</p>
      </Cartas>
    </div>
  </section>

  <section class="grid contenido">
    <Frase frase="De vez en cuando, justo en medio de una vida ordinaria, el amor nos regala un cuento de hadas." />
  </section>

  <Encabezados icono="/lugar-icono.svg" texto="EL LUGAR" />
  <section class="grid contenido fondo-mitad">
    <ParrafosLibres>
      Te compartimos la ubicación, te esperamos en la ceremonia religiosa y en la recepción de nuestra boda
    </ParrafosLibres>
    <div id="zigzag" >
        <BloqueMapa encabezado="Ceremonia" dir="Basilica de Santa Rosa, Calle 56 Col. Santiago, a un lado del Parque Siempre Verde" horario="16:30" lat={-34.6037} lng={-58.3816} mapName="mapa1"/>
        <BloqueMapa encabezado="Recepción" dir="Calle 56 # 56 - 56" horario="18:30" lat={20.492900} lng={-87.243210} mapName="mapa2" />
    </div>
  </section>
  
  <section class="grid contenido">
    <Regalos frase="El regalo más importante será tu presencia, te agradecemos si aparte nos deseas hacer un regalo en este día tan especial." beneficiario="Delia Ramirez" banco="Santander" cuenta="123456789" />
  </section>


  <section class="grid contenido">
    <Contador fecha = {fechaContador} />
  </section>


</Layout>
