---
interface Props {
  encabezado: string;
  dir: string;
  horario: string;
  lat: number;
  lng: number;
  mapName: string;
}

const { encabezado, dir, lat, lng, mapName, horario } = Astro.props;

import Mapa from "./Mapa.astro";
---

<div class="bloqueMapa">
  <div class="izq">
    <Mapa lat={lat} lng={lng} mapName={mapName} />
  </div>
  <div class="der">
    <div class="bandeja">
      <h3>{encabezado}</h3>
      <time datetime="{horario}">
        <svg viewBox="0 0 37 37" fill="none">
          <path d="M18.4815 0C8.2695 0 0 8.288 0 18.5C0 28.712 8.2695 37 18.4815 37C28.712 37 37 28.712 37 18.5C37 8.288 28.712 0 18.4815 0ZM24.5865 27.2135L16.65 19.2585V9.25H20.35V17.7415L27.2135 24.605L24.5865 27.2135Z" fill="#864E4E"/>
          </svg>
           {horario}</time>
      <address set:html={dir}>
        <svg  viewBox="0 0 29 41" fill="ffffff">
          <path d="M14.5 0C6.48357 0 0 6.4165 0 14.35C0 25.1125 14.5 41 14.5 41C14.5 41 29 25.1125 29 14.35C29 6.4165 22.5164 0 14.5 0ZM14.5 19.475C11.6414 19.475 9.32143 17.179 9.32143 14.35C9.32143 11.521 11.6414 9.225 14.5 9.225C17.3586 9.225 19.6786 11.521 19.6786 14.35C19.6786 17.179 17.3586 19.475 14.5 19.475Z" fill="#864E4E"/>
          </svg>
        </address>
    </div>
  </div>
</div>

<style lang="scss">
  @import "../estilos/_variables.scss";
  h3 {
    color: $secundario;
    font-size: clamp(2.5rem, 2.5vw, 3rem);
  }

  .bloqueMapa {
    display: flex;
    position: relative;
    .izq {
      flex: 1.4;
    }
    .der {
      padding: $margen-cel;
      flex: .6;
      display: inherit;
      justify-content: center;
      align-items: center;
    }
    time, address {
      svg{
        width: 15px;
        height: auto;
        vertical-align: middle;
        margin: 10px 3px;
      }
      path {
    
        // filter: invert(1);
        fill: $primario;
      
      }
    }
    @include cel {
      flex-wrap: wrap;
      .izq,
      .der {
        flex: 1 0 100%;
        text-align: center;
      }
      .izq {
        order: 2;
      }
      .der {
        order: 1;
      }
    }
  }
</style>



<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  const bloqueMapa = gsap.utils.toArray(".bloqueMapa");
  gsap.registerPlugin(ScrollTrigger);

  bloqueMapa.forEach((bMapa : HTMLElement , id) => {
    let mm = gsap.matchMedia();
  

    mm.add("(min-width: 800px)", () => {
      // desktop setup code here...
      const tl = gsap.timeline({
      scrollTrigger: {
          trigger: bMapa as HTMLElement,
          start: "top 100%",
          end: "bottom 60%",
          scrub: true,
        }
    });
      tl.from(bMapa as HTMLElement, {
        ease: "power2.out",
        x: -30,
        opacity: 0,
        delay: 0.3,
      });
      tl.from(bMapa.children , {
        opacity: 0,
        y: -50,
        stagger: 0.5,
      });
    });

    mm.add("(max-width: 799px)", () => {
      const tl = gsap.timeline({
      scrollTrigger: {
          trigger: bMapa as HTMLElement,
          start: "top 80%",
          end: "bottom 50%",
          scrub: true,
        }
    });
      // mobile setup code here...
      tl.from(bMapa as HTMLElement, {
        ease: "power2.out",
        y: -60,
      });
      tl.from(bMapa.children, {
        opacity: 0,
        y: 120,
        delay: -0.3,
        stagger: 0.2,
      });
    });
  });
</script>
