---
interface Props {
  encabezado: string;
  dir: string;
  horario: string;
  lat: number;
  lng: number;
  mapName: string;
}

const { encabezado, dir, lat, lng, mapName, horario } = Astro.props;

import Mapa from "./Mapa.astro";
---

<div class="bloqueMapa">
  <div class="izq">
    <Mapa lat={lat} lng={lng} mapName={mapName} />
  </div>
  <div class="der">
    <div class="bandeja">
      <h3>{encabezado}</h3>
      <time datetime="{horario}">
        <img src="/hora-icono.svg" alt="horario" /> {horario}</time
      >
      <address>
        <img src="/lugar-icono.svg" alt="horario" />
        {dir}</address>
    </div>
  </div>
</div>

<style lang="scss">
  @import "../estilos/_variables.scss";
  h3 {
    color: $secundario;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
  }

  .bloqueMapa {
    display: flex;
    position: relative;
    .izq {
      flex: 1.4;
    }
    .der {
      padding: $margen-cel;
      flex: .6;
      display: inherit;
      justify-content: center;
      align-items: center;
    }
    time, address {
      img {
        width: 20px;
        height: auto;
        padding: 5px 0;
      }
    }
    @include cel {
      flex-wrap: wrap;
      .izq,
      .der {
        flex: 1 0 100%;
        text-align: center;
      }
      .izq {
        order: 2;
      }
      .der {
        order: 1;
      }
    }
  }
</style>
