---
interface Props {
  whatsapp: number;
  pases: number;
  nombre: string;
  dias_antes: number;
}
const { whatsapp, pases, nombre, dias_antes } = Astro.props;
import Btn from "./Btn.astro";
---

<div class="confirmacion">
  <div class="bandeja">
    <svg viewBox="0 0 41 31" fill="none">
      <path
        d="M41 6.3152H22.55V10.4293H41V6.3152ZM41 22.7717H22.55V26.8859H41V22.7717ZM7.257 14.5435L0 7.26145L2.8905 4.36098L7.2365 8.72196L15.9285 0L18.819 2.90046L7.257 14.5435ZM7.257 31L0 23.718L2.8905 20.8175L7.2365 25.1785L15.9285 16.4565L18.819 19.357L7.257 31Z"
        fill="white"></path>
    </svg>
    <h2>Confirmación</h2>
    <p>
      Por favor <b>confírmanos</b> tu asistencia <b
        >al menos {dias_antes} días antes del evento</b
      >, nos ayudarás mucho con la organización al hacerlo.
    </p>

    <form id="formulario">
      <label for="pases">Selecciona el numero de pases:</label>
      <select name="pases" id="Confipases">
        <option value="0">0</option>
      </select>
      <label for="comentarios">Envíanos comentarios (opcional):</label>
      <textarea name="comentarios" id="comentarios"></textarea>
      <a href="#" id="btnconfirmar">Confirmar</a>
      <!-- <Btn url={"#"} texto="<b>Confirmar</b> asistencia" /> -->
    </form>
  </div>
</div>
<style lang="scss">
  @import "../estilos/_variables.scss";
  h2 {
    color: white;
    padding-top: $margen-min;
    @include cel {
      font-size: 1.6rem;
    }
  }
  .confirmacion {
    color: white;
    margin-top: $margen;
  }
  .bandeja {
    text-align: center;
    padding: $margen;
    margin: 0 auto;
    max-width: 60%;
    background: url("/patron-fondo.png"), $secundario;
    background-blend-mode: multiply;
    background-size: contain;
    background-position: center;
    @include cel {
      max-width: 100%;
      padding: $margen-cel;
    }
  }
  form {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 0 auto;
    width: 50%;
    label,
    input,
    select,
    textarea {
      flex: 1 0 100%;
      margin-top: 0.6rem;
      padding: 0.5rem 0;
    }
    textarea,
    select {
      border: none !important;
      opacity: 0.5;
      padding: 0.5rem;
      @extend .sombra;
    }
    @include cel {
      width: 100%;
    }
  }
  svg {
    max-width: 2.5rem;
    height: auto;
    margin: 0 auto;
  }
</style>

<script define:vars={{ pases, whatsapp }}>
// alimentar el select del numero de pases
  const pasesInput = document.querySelector("#Confipases");
  const generarPases = () => {
    for (let i = 1; i <= pases; i++) {
      pasesInput.innerHTML += `<option value="Numero de pases: ${i}">${i}</option>`;
    }
  };
  generarPases();


  // whatsapp

  // import moment from "moment";


const comentarios = document.getElementById("comentarios");
const btnconfirmar = document.getElementById("btnconfirmar");



//user agent
const ua = navigator.userAgent;

//si es cel app si es pc web.app
const enviar = (e) => {
  e.preventDefault();


  if (
  pasesInput.value === "" 
  ) {
    console.log("vacio");
  } else {
    btnconfirmar.classList.remove("desactivado");
  }
  //comprobar si es cel o pc
  let whats = "";
  if (/Mobile/i.test(ua)) {
    whats = `https://api.whatsapp.com/send/?phone=${whatsapp}&text=`;
  } else {
    whats = `https://web.whatsapp.com/send/?phone=${whatsapp}&text=`;
  }


  envio( whats, pasesInput.value, comentarios.value);
};

const envio = ( whats, pasesInput, comentarios) => {

  const url = `
  ${whats}Hola,%20me%20contacto%20desde%20marioly.com,%20deseo%20cotizar:%0aNombre:%20${pasesInput}%0aTour:%20${comentarios}`;

  btnconfirmar.href = url;
  
};

pasesInput.addEventListener("focusout", enviar);
comentarios.addEventListener("focusout", enviar);
</script>
