---
interface Props {
  title: string;
  url?: string
}

const { title, url } = Astro.props;
import "../estilos/globales.scss";
const base = import.meta.env.BASE_URL
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Invitacion de bodas de nvite.me" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`${base}/favicon.svg`} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:locale" content="es_MX" />
    <meta property="og:type" content="article" />
    <meta
      property="og:title"
      content=`${title} - Invitación digital nvite.me`
    />
    <meta property="og:description" content=`Esperamos tu asistencia, estaremos felices de celebrar juntos` />
    <meta property="og:url" content=`https://nvite.me${url}` />
    <meta
      property="og:site_name"
      content="nvite.me invitaciones de bodas digitales"
    />
    <meta property="og:image" content=`https://nvite.me${url}/cover.webp` />
    <meta property="og:image:width" content="900" />
    <meta property="og:image:height" content="900" />
    <meta property="og:image:type" content="image/webp" />
    <meta name="twitter:card" content="summary_large_image" />

  </head>
  <body>
    <slot />
  </body>
</html>
